<!--
         ===========================================================================================
                        JUST TO PUT UNCLICKABLE BUTTON  AT UNLOGIN PART
         =========================================================================================== 
-->
<html>	
        <head>		
                <meta name="theme-color" content="navy" />
                <link rel="stylesheet" href="fpart/css/ham.css" type="text/css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
                <link rel="stylesheet" href="fpart/css/virusanimation.css">	
                <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
                <title>COVID-19 FOR NIGERIANS</title>	
        </head>	
        
        <body>	

                
                <!-- SECTION 1 -->
                <section>
                        <div class="row animated-fast1 fadeInUp animate-box">
                                <div class="col-sm-8">
                                        <div class="first_div">
                                                <section>
                
                                                        <div id="menu-bar">			
                                                                <div id="menu" onclick="onClickMenu()">				
                                                                        <div id="bar1" class="bar"></div>				
                                                                        <div id="bar2" class="bar"></div>				
                                                                        <div id="bar3" class="bar"></div>			
                                                                </div>			
                                                                <ul class="navV" id="navV">				
                                                                        <li><a href="/">Home</a></li>				
                                                                        <li><a href="/posts">posts</a></li>			
                                                                </ul>		
                                                        </div>		
                                                        <div class="menu-bg" id="menu-bg"></div>        

                                                </section>	
                                                <div>
                                                        <div class="sampu">
                                                                <div class="insampu"></div>
                                                                <div class="insampu"></div>
                                                                <div class="insampu"></div>
                                                                <div class="insampu"></div>
                                                                <div class="insampu"></div>
                                                                <div class="insampu"></div>
                                                                <div class="insampu"></div>
                                                                <div class="insampu"></div>
                                                                <div class="insampu"></div>
                                                                <div class="insampu"></div>
                                                        </div>	
                                                </div>
                                                
                                        </div>          
                                </div>
                                <div class="col-sm-4">                                                             
                                        <div class="second" >
                                                <p id="home-slide1">
                                                        CORONAVIRUS 
                                                </p>
                                                <p id="home-slide2">
                                                        2020
                                                </p>
                                                <p id="home-slide3">
                                                        FOR
                                                </p>
                                                <p id="home-slide4">
                                                        NIGERIANS
                                                </p>
                                        </div>
                                </div>
                        </div> 




                <!-- SECTION 3 -->
                
                <section>
                        <div class="statistics_div" >
                                <div class="chart_purpose">
                                        BREAKDOWN OF COVID-19 IN NIGERIA
                                </div>
                                <div class="adjuss"></div>
                                <div>
                                        <canvas id="bar-chart"></canvas>
                                </div>
                        </div>
                </section>

                
                <section>
                        <div class="statistics_div" >
                                <div class="chart_purpose">
                                </div>
                                <div class="adjuss"></div>
                                <div style="height: 700px; padding-top: 70px; width: 90%;">
                                        <canvas id="pie-chart"></canvas>
                                </div>
                        </div>
                </section>


                <script>
                </script>
                
                

                <!-- SECTION 7 -->




                <section class="footer_section">
                        <footer>
                                <div>
                                        <p>© 2020 developed by <span>Olabisi</span></p>
                                </div>
                                <div> 
                                        <a href="https://www.instagram.com/odun_olaa/" target="_blank">
                                                <i class="instagram icon"></i>
                                        </a>
                                        <a href="https://twitter.com/OlabisiOdunayo6" target="_blank">
                                                <i class="twitter icon"></i>
                                        </a>
                                        <a href="#" target="_blank">
                                                <i class="whatsapp icon"></i>
                                        </a>
                                </div>
                                <div>
                                        <p>Proudly created for covid-19 - <span>(web illustratons from <a href="https://undraw.co/illustrations" target="_blank">undraw.co</a>)</span></p>
                                </div>
                        </footer>
                
                </section>
                

<section style="display: none;">
        <span id="one">
                <%= states[0] %>
        </span>
        <span id="two">
                <%= states[1] %>
        </span>
        <span id="three">
                <%= states[2] %>
        </span>
        <span id="four">
                <%= states[3] %>
        </span>
        <span id="five">
                <%= states[4] %>
        </span>
        <span id="six">
                <%= states[5] %>
        </span>
        <span id="seven">
                <%= states[6] %>
        </span>
        <span id="eight">
                <%= states[7] %>
        </span>
        <span id="nine">
                <%= states[8] %>
        </span>
        <span id="ten">
                <%= states[9] %>
        </span>
        <span id="a">
                <%= states[10] %>
        </span>
        <span id="b">
                <%= states[11] %>
        </span>
        <span id="c">
                <%= states[12] %>
        </span>
        <span id="d">
                <%= states[13] %>
        </span>
        <span id="e">
                <%= states[14] %>
        </span>
        <span id="f">
                <%= states[15] %>
        </span>
        <span id="g">
                <%= states[16] %>
        </span>
        <span id="h">
                <%= states[17] %>
        </span>
        <span id="i">
                <%= states[18] %>
        </span>
        <span id="j">
                <%= states[19] %>
        </span>
        <span id="k">
                <%= states[20] %>
        </span>
        <span id="l">
                <%= states[21] %>
        </span>
        <span id="m">
                <%= states[22] %>
        </span>
        <span id="n">
                <%= states[23] %>
        </span>
        <span id="o">
                <%= states[24] %>
        </span>
        <span id="p">
                <%= states[25] %>
        </span>
        <span id="q">
                <%= states[26] %>
        </span>
        <span id="r">
                <%= states[27] %>
        </span>
        <span id="s">
                <%= states[28] %>
        </span>
        <span id="t">
                <%= states[29] %>
        </span>
        <span id="u">
                <%= states[30] %>
        </span>
        <span id="v">
                <%= states[31] %>
        </span>
        <span id="w">
                <%= states[32] %>
        </span>
        <span id="x">
                <%= states[33] %>
        </span>
        <span id="y">
                <%= states[34] %>
        </span>
        <span id="z">
                <%= states[35] %>
        </span>
</section>








                <script>
                        function onClickMenu(){	
                        document.getElementById("menu").classList.toggle("change");	
                        document.getElementById("navV").classList.toggle("change");		
                        document.getElementById("menu-bg").classList.toggle("change-bg");
                        }
                </script>	

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
                <% console.log("this is the states" + states) %>
                <% console.log("this is the cc_states" + cc_states) %>
                <% console.log("this is the rc_states" + rc_states) %>
                <% console.log("this is the dc_states" + dc_states) %>
                <script>
                        
                                const divr = document.createElement('div');
                                divr.innerText =  `<%= states[0]  %>`;
                                var r = divr.innerText;
                                
                                const divr1 = document.createElement('div');
                                divr1.innerText =  `<%= states[1]  %>`;
                                var r1 = divr1.innerText;
                                
                                const divr2 = document.createElement('div');
                                divr2.innerText =  `<%= states[2]  %>`;
                                var r2 = divr2.innerText;
                                
                                const divr3 = document.createElement('div');
                                divr3.innerText =  `<%= states[3]  %>`;
                                var r3 = divr3.innerText;
                                
                                const divr4 = document.createElement('div');
                                divr4.innerText =  `<%= states[4]  %>`;
                                var r4 = divr4.innerText;
                                
                                const divr5 = document.createElement('div');
                                divr5.innerText =  `<%= states[5]  %>`;
                                var r5 = divr5.innerText;
                                
                                const divr6 = document.createElement('div');
                                divr6.innerText =  `<%= states[6]  %>`;
                                var r6 = divr6.innerText;
                                
                                const divr7 = document.createElement('div');
                                divr7.innerText =  `<%= states[7]  %>`;
                                var r7 = divr7.innerText;
                                
                                const divr8 = document.createElement('div');
                                divr8.innerText =  `<%= states[8]  %>`;
                                var r8 = divr8.innerText;
                                
                                const divr9 = document.createElement('div');
                                divr9.innerText =  `<%= states[9]  %>`;
                                var r9 = divr9.innerText;
                                
                                const divr10 = document.createElement('div');
                                divr10.innerText =  `<%= states[10]  %>`;
                                var r10 = divr10.innerText;
                                
                                const divr11 = document.createElement('div');
                                divr11.innerText =  `<%= states[11]  %>`;
                                var r11 = divr11.innerText;
                                
                                const divr12 = document.createElement('div');
                                divr12.innerText =  `<%= states[12]  %>`;
                                var r12 = divr12.innerText;
                                
                                const divr13 = document.createElement('div');
                                divr13.innerText =  `<%= states[13]  %>`;
                                var r13 = divr13.innerText;
                                
                                const divr14 = document.createElement('div');
                                divr14.innerText =  `<%= states[14]  %>`;
                                var r14 = divr14.innerText;
                                
                                const divr15 = document.createElement('div');
                                divr15.innerText =  `<%= states[15]  %>`;
                                var r15 = divr15.innerText;
                                
                                const divr16 = document.createElement('div');
                                divr16.innerText =  `<%= states[16]  %>`;
                                var r16 = divr16.innerText;
                                
                                const divr17 = document.createElement('div');
                                divr17.innerText =  `<%= states[17]  %>`;
                                var r17 = divr17.innerText;
                                
                                const divr18 = document.createElement('div');
                                divr18.innerText =  `<%= states[18]  %>`;
                                var r18 = divr18.innerText;
                                
                                const divr19 = document.createElement('div');
                                divr19.innerText =  `<%= states[19]  %>`;
                                var r19 = divr19.innerText;
                                
                                const divr20 = document.createElement('div');
                                divr20.innerText =  `<%= states[20]  %>`;
                                var r20 = divr20.innerText;
                                
                                const divr21 = document.createElement('div');
                                divr21.innerText =  `<%= states[21]  %>`;
                                var r21 = divr21.innerText;
                                
                                const divr22 = document.createElement('div');
                                divr22.innerText =  `<%= states[22]  %>`;
                                var r22 = divr22.innerText;
                                
                                const divr23 = document.createElement('div');
                                divr23.innerText =  `<%= states[23]  %>`;
                                var r23 = divr23.innerText;
                                
                                const divr24 = document.createElement('div');
                                divr24.innerText =  `<%= states[24]  %>`;
                                var r24 = divr24.innerText;
                                
                                const divr25 = document.createElement('div');
                                divr25.innerText =  `<%= states[25]  %>`;
                                var r25 = divr25.innerText;
                                
                                const divr26 = document.createElement('div');
                                divr26.innerText =  `<%= states[26]  %>`;
                                var r26 = divr26.innerText;
                                
                                const divr27 = document.createElement('div');
                                divr27.innerText =  `<%= states[27]  %>`;
                                var r27 = divr27.innerText;
                                
                                const divr28 = document.createElement('div');
                                divr28.innerText =  `<%= states[28]  %>`;
                                var r28 = divr28.innerText;
                                
                                const divr29 = document.createElement('div');
                                divr29.innerText =  `<%= states[29]  %>`;
                                var r29 = divr29.innerText;
                                
                                const divr30 = document.createElement('div');
                                divr30.innerText =  `<%= states[30]  %>`;
                                var r30 = divr30.innerText;
                                
                                const divr31 = document.createElement('div');
                                divr31.innerText =  `<%= states[31]  %>`;
                                var r31 = divr31.innerText;
                                
                                const divr32 = document.createElement('div');
                                divr32.innerText =  `<%= states[32]  %>`;
                                var r32 = divr32.innerText;
                                
                                const divr33 = document.createElement('div');
                                divr33.innerText =  `<%= states[33]  %>`;
                                var r33 = divr33.innerText;
                                
                                const divr34 = document.createElement('div');
                                divr34.innerText =  `<%= states[34]  %>`;
                                var r34 = divr34.innerText;
                                
                                const divr35 = document.createElement('div');
                                divr35.innerText =  `<%= states[35]  %>`;
                                var r35 = divr35.innerText;
                                
                                  


                                  const div = document.createElement('div');
                                  div.innerText = `<%= cc_states[0]  %>`
                                  var som = div.innerText.split(',').join("");
                                  var a = parseInt(som);

                                  const div1 = document.createElement('div');
                                  div1.innerText = `<%= cc_states[1]  %>`
                                  var som1 = div1.innerText.split(',').join("");
                                  var a1 = parseInt(som1);

                                const div2 = document.createElement('div');
                                div2.innerText = `<%= cc_states[2]  %>`
                                var som2 = div2.innerText.split(',').join("");
                                var a2 = parseInt(som2);

                                const div3 = document.createElement('div');
                                div3.innerText = `<%= cc_states[3]  %>`
                                var som3 = div3.innerText.split(',').join("");
                                var a3 = parseInt(som3);

                                const div4 = document.createElement('div');
                                div4.innerText = `<%= cc_states[4]  %>`
                                var som4 = div4.innerText.split(',').join("");
                                var a4 = parseInt(som4);

                                  const diva = document.createElement('div');
                                  diva.innerText = `<%= cc_states[5]  %>`
                                  var soma = diva.innerText.split(',').join("");
                                  var a5 = parseInt(soma);

                                  const diva1 = document.createElement('div');
                                  diva1.innerText = `<%= cc_states[6]  %>`
                                  var soma1 = diva1.innerText.split(',').join("");
                                  var a6 = parseInt(soma1);

                                const diva2 = document.createElement('div');
                                diva2.innerText = `<%= cc_states[7]  %>`
                                var soma2 = diva2.innerText.split(',').join("");
                                var a7 = parseInt(soma2);

                                const diva3 = document.createElement('div');
                                diva3.innerText = `<%= cc_states[8]  %>`
                                var soma3 = diva3.innerText.split(',').join("");
                                var a8 = parseInt(soma3);

                                  const diva4 = document.createElement('div');
                                  diva4.innerText = `<%= cc_states[9]  %>`
                                  var soma4 = diva4.innerText.split(',').join("");
                                  var a9 = parseInt(soma4);

                                  const diva5 = document.createElement('div');
                                  diva5.innerText = `<%= cc_states[10]  %>`
                                  var soma5 = diva5.innerText.split(',').join("");
                                  var a10 = parseInt(soma5);

                                const diva6 = document.createElement('div');
                                diva6.innerText = `<%= cc_states[11]  %>`
                                var som2a6 = diva6.innerText.split(',').join("");
                                var a11 = parseInt(som2a6);

                                const diva7 = document.createElement('div');
                                diva7.innerText = `<%= cc_states[12]  %>`
                                var soma7 = diva7.innerText.split(',').join("");
                                var a12 = parseInt(soma7);

                                const diva8 = document.createElement('div');
                                diva8.innerText = `<%= cc_states[13]  %>`
                                var soma8 = diva8.innerText.split(',').join("");
                                var a13 = parseInt(soma8);

                                  const diva9 = document.createElement('div');
                                  diva9.innerText = `<%= cc_states[14]  %>`
                                  var soma9 = diva9.innerText.split(',').join("");
                                  var a14 = parseInt(soma9);

                                  const divaa1 = document.createElement('div');
                                  divaa1.innerText = `<%= cc_states[15]  %>`
                                  var somaa1 = divaa1.innerText.split(',').join("");
                                  var a15 = parseInt(somaa1);

                                const divaa2 = document.createElement('div');
                                divaa2.innerText = `<%= cc_states[16]  %>`
                                var somaa2 = divaa2.innerText.split(',').join("");
                                var a16 = parseInt(somaa2);

                                const divaa3 = document.createElement('div');
                                divaa3.innerText = `<%= cc_states[17]  %>`
                                var somaa3 = divaa3.innerText.split(',').join("");
                                var a17 = parseInt(somaa3);

                                const divaa4 = document.createElement('div');
                                divaa4.innerText = `<%= cc_states[18]  %>`
                                var somaa4 = divaa4.innerText.split(',').join("");
                                var a18 = parseInt(somaa4);

                                  const divaq = document.createElement('div');
                                  divaq.innerText = `<%= cc_states[19]  %>`
                                  var somaq = divaq.innerText.split(',').join("");
                                  var a19 = parseInt(somaq);

                                  const div1aq = document.createElement('div');
                                  div1aq.innerText = `<%= cc_states[20]  %>`
                                  var som1aq = div1aq.innerText.split(',').join("");
                                  var a20 = parseInt(som1aq);

                                const div2aq = document.createElement('div');
                                div2aq.innerText = `<%= cc_states[21]  %>`
                                var som2aq = div2aq.innerText.split(',').join("");
                                var a21 = parseInt(som2aq);

                                const div3aq = document.createElement('div');
                                div3aq.innerText = `<%= cc_states[22]  %>`
                                var som3aq = div3aq.innerText.split(',').join("");
                                var a22 = parseInt(som3aq);

                                const div4aq = document.createElement('div');
                                div4aq.innerText = `<%= cc_states[23]  %>`
                                var som4aq = div4aq.innerText.split(',').join("");
                                var a23 = parseInt(som4aq);

                                  const divaqa = document.createElement('div');
                                  divaqa.innerText = `<%= cc_states[24]  %>`
                                  var somaqa = divaqa.innerText.split(',').join("");
                                  var a24 = parseInt(somaqa);

                                  const div1aqa = document.createElement('div');
                                  div1aqa.innerText = `<%= cc_states[25]  %>`
                                  var som1aqa = div1aqa.innerText.split(',').join("");
                                  var a25 = parseInt(som1aqa);

                                const div2aqa = document.createElement('div');
                                div2aqa.innerText = `<%= cc_states[26]  %>`
                                var som2aqa = div2aqa.innerText.split(',').join("");
                                var a26 = parseInt(som2aqa);

                                const div3aqa = document.createElement('div');
                                div3aqa.innerText = `<%= cc_states[27]  %>`
                                var som3aqa = div3aqa.innerText.split(',').join("");
                                var a27 = parseInt(som3aqa);

                                const div4aqa = document.createElement('div');
                                div4aqa.innerText = `<%= cc_states[28]  %>`
                                var som4aqa = div4aqa.innerText.split(',').join("");
                                var a28 = parseInt(som4aqa);

                                const divaqqqq = document.createElement('div');
                                divaqqqq.innerText = `<%= cc_states[29]  %>`
                                var somaqqqq = divaqqqq.innerText.split(',').join("");
                                var a29 = parseInt(somaqqqq);

                                const divaqq = document.createElement('div');
                                divaqq.innerText = `<%= cc_states[30]  %>`
                                var somaqq = divaqq.innerText.split(',').join("");
                                var a30 = parseInt(somaqq);

                                const div1aqq = document.createElement('div');
                                div1aqq.innerText = `<%= cc_states[31]  %>`
                                var som1aqq = div1aqq.innerText.split(',').join("");
                                var a31 = parseInt(som1aqq);

                                const div2aqq = document.createElement('div');
                                div2aqq.innerText = `<%= cc_states[32]  %>`
                                var som2aqq = div2aqq.innerText.split(',').join("");
                                var a32 = parseInt(som2aqq);

                                const div3aqq = document.createElement('div');
                                div3aqq.innerText = `<%= cc_states[33]  %>`
                                var som3aqq = div3aqq.innerText.split(',').join("");
                                var a33 = parseInt(som3aqq);

                                const div4aqq = document.createElement('div');
                                div4aqq.innerText = `<%= cc_states[34]  %>`
                                var som4aqq = div4aqq.innerText.split(',').join("");
                                var a34 = parseInt(som4aqq);

                                const divaqqqa = document.createElement('div');
                                divaqqqa.innerText = `<%= cc_states[35]  %>`
                                var somaqqqa = divaqqqa.innerText.split(',').join("");
                                var a35 = parseInt(somaqqqa);

                                

                                  
































                                const div11 = document.createElement('div');
                                  div11.innerText = `<%= dc_states[0]  %>`
                                  var som11 = div11.innerText.split(',').join("");
                                  var z = parseInt(som11);

                                  const div12 = document.createElement('div');
                                  div12.innerText = `<%= dc_states[1]  %>`
                                  var som12 = div12.innerText.split(',').join("");
                                  var z1 = parseInt(som12);

                                const div13 = document.createElement('div');
                                div13.innerText = `<%= dc_states[2]  %>`
                                var som13 = div13.innerText.split(',').join("");
                                var z2 = parseInt(som13);

                                const div14 = document.createElement('div');
                                div14.innerText = `<%= dc_states[3]  %>`
                                var som14 = div14.innerText.split(',').join("");
                                var z3 = parseInt(som14);

                                const div15 = document.createElement('div');
                                div15.innerText = `<%= dc_states[4]  %>`
                                var som15 = div15.innerText.split(',').join("");
                                var z4 = parseInt(som15);

                                const div11a = document.createElement('div');
                                  div11a.innerText = `<%= dc_states[5]  %>`
                                  var som11a = div11a.innerText.split(',').join("");
                                  var z5 = parseInt(som11a);

                                  const div12a = document.createElement('div');
                                  div12a.innerText = `<%= dc_states[6]  %>`
                                  var som12a = div12a.innerText.split(',').join("");
                                  var z6 = parseInt(som12a);

                                const div13a = document.createElement('div');
                                div13a.innerText = `<%= dc_states[7]  %>`
                                var som13a = div13a.innerText.split(',').join("");
                                var z7 = parseInt(som13a);

                                const div14a = document.createElement('div');
                                div14a.innerText = `<%= dc_states[8]  %>`
                                var som14a = div14a.innerText.split(',').join("");
                                var z8 = parseInt(som14a);

                                const div15a = document.createElement('div');
                                div15a.innerText = `<%= dc_states[9]  %>`
                                var som15a = div15a.innerText.split(',').join("");
                                var z9 = parseInt(som15a);

                                const div11aa = document.createElement('div');
                                  div11aa.innerText = `<%= dc_states[10]  %>`
                                  var som11aa = div11aa.innerText.split(',').join("");
                                  var z10 = parseInt(som11aa);

                                  const div12aa = document.createElement('div');
                                  div12aa.innerText = `<%= dc_states[11]  %>`
                                  var som12aa = div12aa.innerText.split(',').join("");
                                  var z11 = parseInt(som12aa);

                                const div13aa = document.createElement('div');
                                div13aa.innerText = `<%= dc_states[12]  %>`
                                var som13aa = div13aa.innerText.split(',').join("");
                                var z12 = parseInt(som13aa);

                                const div14aa = document.createElement('div');
                                div14aa.innerText = `<%= dc_states[13]  %>`
                                var som14aa = div14aa.innerText.split(',').join("");
                                var z13 = parseInt(som14aa);

                                const div15aa = document.createElement('div');
                                div15aa.innerText = `<%= dc_states[14]  %>`
                                var som15aa = div15aa.innerText.split(',').join("");
                                var z14 = parseInt(som15aa);

                                const div11aq = document.createElement('div');
                                  div11aq.innerText = `<%= dc_states[15]  %>`
                                  var som11aq = div11aq.innerText.split(',').join("");
                                  var z15 = parseInt(som11aq);

                                  const div12aq = document.createElement('div');
                                  div12aq.innerText = `<%= dc_states[16]  %>`
                                  var som12aq = div12aq.innerText.split(',').join("");
                                  var z16 = parseInt(som12aq);

                                const div13aq = document.createElement('div');
                                div13aq.innerText = `<%= dc_states[17]  %>`
                                var som13aq = div13aq.innerText.split(',').join("");
                                var z17 = parseInt(som13aq);

                                const div14aq = document.createElement('div');
                                div14aq.innerText = `<%= dc_states[18]  %>`
                                var som14aq = div14aq.innerText.split(',').join("");
                                var z18 = parseInt(som14aq);

                                const div15aq = document.createElement('div');
                                div15aq.innerText = `<%= dc_states[19]  %>`
                                var som15aq = div15aq.innerText.split(',').join("");
                                var z19 = parseInt(som15aq);

                                const div11qq = document.createElement('div');
                                  div11qq.innerText = `<%= dc_states[20]  %>`
                                  var som11qq = div11qq.innerText.split(',').join("");
                                  var z20 = parseInt(som11qq);

                                  const div12qq = document.createElement('div');
                                  div12qq.innerText = `<%= dc_states[21]  %>`
                                  var som12qq = div12qq.innerText.split(',').join("");
                                  var z21 = parseInt(som12qq);

                                const div13qq = document.createElement('div');
                                div13qq.innerText = `<%= dc_states[22]  %>`
                                var som13qq = div13qq.innerText.split(',').join("");
                                var z22 = parseInt(som13qq);

                                const div14qq = document.createElement('div');
                                div14qq.innerText = `<%= dc_states[23]  %>`
                                var som14qq = div14qq.innerText.split(',').join("");
                                var z23 = parseInt(som14qq);

                                const div15qq = document.createElement('div');
                                div15qq.innerText = `<%= dc_states[24]  %>`
                                var som15qq = div15qq.innerText.split(',').join("");
                                var z24 = parseInt(som15qq);
                                
                                  const div12qa = document.createElement('div');
                                  div12qa.innerText = `<%= dc_states[25]  %>`
                                  var som12qa = div12qa.innerText.split(',').join("");
                                  var z25 = parseInt(som12qa);

                                const div13qa = document.createElement('div');
                                div13qa.innerText = `<%= dc_states[26]  %>`
                                var som13qa = div13qa.innerText.split(',').join("");
                                var z26 = parseInt(som13qa);

                                const div14qa = document.createElement('div');
                                div14qa.innerText = `<%= dc_states[27]  %>`
                                var som14qa = div14qa.innerText.split(',').join("");
                                var z27 = parseInt(som14qa);

                                const div15qa = document.createElement('div');
                                div15qa.innerText = `<%= dc_states[28]  %>`
                                var som15qa = div15qa.innerText.split(',').join("");
                                var z28 = parseInt(som15qa);
 
                                const div11qaq = document.createElement('div');
                                  div11qaq.innerText = `<%= dc_states[29]  %>`
                                  var som11qaq = div11qaq.innerText.split(',').join("");
                                  var z29 = parseInt(som11qaq);

                                  const div12qaq = document.createElement('div');
                                  div12qaq.innerText = `<%= dc_states[30]  %>`
                                  var som12qaq = div12qaq.innerText.split(',').join("");
                                  var z30 = parseInt(som12qaq);

                                const div13qaq = document.createElement('div');
                                div13qaq.innerText = `<%= dc_states[31]  %>`
                                var som13qaq = div13qaq.innerText.split(',').join("");
                                var z31 = parseInt(som13qaq);

                                const div14qaq = document.createElement('div');
                                div14qaq.innerText = `<%= dc_states[32]  %>`
                                var som14qaq = div14qaq.innerText.split(',').join("");
                                var z32 = parseInt(som14qaq);

                                const div15qaq = document.createElement('div');
                                div15qaq.innerText = `<%= dc_states[33]  %>`
                                var som15qaq = div15qaq.innerText.split(',').join("");
                                var z33 = parseInt(som15qaq);

                                const div11qqq = document.createElement('div');
                                  div11qqq.innerText = `<%= dc_states[34]  %>`
                                  var som11qqq = div11qqq.innerText.split(',').join("");
                                  var z34 = parseInt(som11qqq);

                                  const div12qqq = document.createElement('div');
                                  div12qqq.innerText = `<%= dc_states[35]  %>`
                                  var som12qqq = div12qqq.innerText.split(',').join("");
                                  var z35 = parseInt(som12qqq);


                                  

























                                  const div21 = document.createElement('div');
                                div21.innerText = `<%= rc_states[0]  %>`
                                var som21 = div21.innerText.split(',').join("");
                                var q = parseInt(som21);

                                const div22 = document.createElement('div');
                                div22.innerText = `<%= rc_states[1]  %>`
                                var som22 = div22.innerText.split(',').join("");
                                var q1 = parseInt(som22);

                                const div23 = document.createElement('div');
                                div23.innerText = `<%= rc_states[2]  %>`
                                var som23 = div23.innerText.split(',').join("");
                                var q2 = parseInt(som23);

                                const div24 = document.createElement('div');
                                div24.innerText = `<%= rc_states[3]  %>`
                                var som24 = div24.innerText.split(',').join("");
                                var q3 = parseInt(som24);

                                const div25 = document.createElement('div');
                                div25.innerText = `<%= rc_states[4]  %>`
                                var som25 = div25.innerText.split(',').join("");
                                var q4 = parseInt(som25);

                                const div21a = document.createElement('div');
                                div21a.innerText = `<%= rc_states[5]  %>`
                                var som21a = div21a.innerText.split(',').join("");
                                var q5 = parseInt(som21a);

                                const div22a = document.createElement('div');
                                div22a.innerText = `<%= rc_states[6]  %>`
                                var som22a = div22a.innerText.split(',').join("");
                                var q6 = parseInt(som22a);

                                const div23a = document.createElement('div');
                                div23a.innerText = `<%= rc_states[7]  %>`
                                var som23a = div23a.innerText.split(',').join("");
                                var q7 = parseInt(som23a);

                                const div24a = document.createElement('div');
                                div24a.innerText = `<%= rc_states[8]  %>`
                                var som24a = div24a.innerText.split(',').join("");
                                var q8 = parseInt(som24a);

                                const div25a = document.createElement('div');
                                div25a.innerText = `<%= rc_states[9]  %>`
                                var som25a = div25a.innerText.split(',').join("");
                                var q9 = parseInt(som25a);

                                  const div21aa = document.createElement('div');
                                div21a.innerText = `<%= rc_states[10]  %>`
                                var som21aa = div21aa.innerText.split(',').join("");
                                var q10 = parseInt(som21aa);

                                const div22aa = document.createElement('div');
                                div22aa.innerText = `<%= rc_states[11]  %>`
                                var som22aa = div22aa.innerText.split(',').join("");
                                var q11 = parseInt(som22aa);

                                const div23aa = document.createElement('div');
                                div23aa.innerText = `<%= rc_states[12]  %>`
                                var som23aa = div23aa.innerText.split(',').join("");
                                var q12 = parseInt(som23aa);

                                const div24aa = document.createElement('div');
                                div24aa.innerText = `<%= rc_states[13]  %>`
                                var som24aa = div24aa.innerText.split(',').join("");
                                var q13 = parseInt(som24aa);

                                const div25aa = document.createElement('div');
                                div25aa.innerText = `<%= rc_states[14]  %>`
                                var som25aa = div25aa.innerText.split(',').join("");
                                var q14 = parseInt(som25aa);

                                const div21aq = document.createElement('div');
                                div21aq.innerText = `<%= rc_states[15]  %>`
                                var som21aq = div21aq.innerText.split(',').join("");
                                var q15 = parseInt(som21aq);

                                const div22aq = document.createElement('div');
                                div22aq.innerText = `<%= rc_states[16]  %>`
                                var som22aq = div22aq.innerText.split(',').join("");
                                var q16 = parseInt(som22aq);

                                const div23aq = document.createElement('div');
                                div23aq.innerText = `<%= rc_states[17]  %>`
                                var som23aq = div23aq.innerText.split(',').join("");
                                var q17 = parseInt(som23aq);

                                const div24aq = document.createElement('div');
                                div24aq.innerText = `<%= rc_states[18]  %>`
                                var som24aq = div24aq.innerText.split(',').join("");
                                var q18 = parseInt(som24aq);

                                const div25aq = document.createElement('div');
                                div25aq.innerText = `<%= rc_states[19]  %>`
                                var som25aq = div25aq.innerText.split(',').join("");
                                var q19 = parseInt(som25aq);

                                  const div21qa = document.createElement('div');
                                div21qa.innerText = `<%= rc_states[20]  %>`
                                var som21qa = div21qa.innerText.split(',').join("");
                                var q20 = parseInt(som21qa);

                                const div22qa = document.createElement('div');
                                div22qa.innerText = `<%= rc_states[21]  %>`
                                var som22qa = div22qa.innerText.split(',').join("");
                                var q21 = parseInt(som22qa);

                                const div23qa = document.createElement('div');
                                div23qa.innerText = `<%= rc_states[22]  %>`
                                var som23qa = div23qa.innerText.split(',').join("");
                                var q22 = parseInt(som23qa);

                                const div24qa = document.createElement('div');
                                div24qa.innerText = `<%= rc_states[23]  %>`
                                var som24qa = div24qa.innerText.split(',').join("");
                                var q23 = parseInt(som24qa);

                                const div25qa = document.createElement('div');
                                div25qa.innerText = `<%= rc_states[24]  %>`
                                var som25qa = div25qa.innerText.split(',').join("");
                                var q24 = parseInt(som25qa);

                                const div21qq = document.createElement('div');
                                div21qq.innerText = `<%= rc_states[25]  %>`
                                var som21qq = div21qq.innerText.split(',').join("");
                                var q25 = parseInt(som21qq);

                                const div22qq = document.createElement('div');
                                div22qq.innerText = `<%= rc_states[26]  %>`
                                var som22qq = div22qq.innerText.split(',').join("");
                                var q26 = parseInt(som22qq);

                                const div23qq = document.createElement('div');
                                div23qq.innerText = `<%= rc_states[27]  %>`
                                var som23qq = div23qq.innerText.split(',').join("");
                                var q27 = parseInt(som23qq);

                                const div24qq = document.createElement('div');
                                div24qq.innerText = `<%= rc_states[28]  %>`
                                var som24qq = div24qq.innerText.split(',').join("");
                                var q28 = parseInt(som24qq);

                                const div25qq = document.createElement('div');
                                div25qq.innerText = `<%= rc_states[29]  %>`
                                var som25qq = div25qq.innerText.split(',').join("");
                                var q29 = parseInt(som25qq);

                                  const div21ww = document.createElement('div');
                                div21ww.innerText = `<%= rc_states[30]  %>`
                                var som21ww = div21ww.innerText.split(',').join("");
                                var q30 = parseInt(som21ww);

                                const div22ww = document.createElement('div');
                                div22ww.innerText = `<%= rc_states[31]  %>`
                                var som22ww = div22ww.innerText.split(',').join("");
                                var q31 = parseInt(som22ww);

                                const div23ww = document.createElement('div');
                                div23ww.innerText = `<%= rc_states[32]  %>`
                                var som23ww = div23ww.innerText.split(',').join("");
                                var q32 = parseInt(som23ww);

                                const div24ww = document.createElement('div');
                                div24.innerText = `<%= rc_states[33]  %>`
                                var som24 = div24.innerText.split(',').join("");
                                var q33 = parseInt(som24);

                                const div25ww = document.createElement('div');
                                div25ww.innerText = `<%= rc_states[34]  %>`
                                var som25ww = div25ww.innerText.split(',').join("");
                                var q34 = parseInt(som25ww);

                                const div21w = document.createElement('div');
                                div21w.innerText = `<%= rc_states[35]  %>`
                                var som21w = div21w.innerText.split(',').join("");
                                var q35 = parseInt(som21w);






















                        new Chart(document.getElementById("bar-chart"), {
                            type: 'horizontalBar',
                          tooltips: {
                                  mode: 'index',
                          },
                            data: {
                              labels: [r,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13,r14,r15,r16,r17,r18,r19, r20,r21,r22,r23,r24,r25,r26,r27,r28,r29, r30,r31,r32,r33,r34,r35],
                              datasets: [
                                {
                                  data: [a,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17,a18,a19,a20,a21,a22,a23,a24,a25,a26,a27,a28,a29,a30,a31,a32,a33,a34,a35],
                                  label: 'cases',
                                  backgroundColor: "navy",
                                }, {
                                  data: [z,z1,z2,z3,z4,z5,z6,z7,z8,z9,z10,z11,z12,z13,z14,z15,z16,z17,z18,z19,z20,z21,z22,z23,z24,z25,z26,z27,z28,z29,z30,z31,z32,z33,z34,z35],
                                  label: 'deaths',
                                  backgroundColor: "red",
                                }
                                        , {
                                  data: [q,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12,q13,q14,q15,q16,q17,q18,q19,q20,q21,q22,q23,q24,q25,q26,q27,q28,q29,q30,q31,q32,q33,q34,q35],
                                  label: 'recovered',
                                  backgroundColor: "green",
                                }
                              ],
                            },
                            backgroundColor:'#cfcfcf',
                            options: {
                                  scales: {
                                xAxes: [{ stacked: true }],
                                yAxes: [{ stacked: true }]
                              }
                      
                            }
                                  
                          }
                          );
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                          
                        new Chart(document.getElementById("pie-chart"), {
                          type: 'pie',
                        tooltips: {
                                mode: 'index',
                        },
                          data: {
                              labels: [r,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13,r14,r15,r16,r17,r18,r19, r20,r21,r22,r23,r24,r25,r26,r27,r28,r29, r30,r31,r32,r33,r34,r35],
                            datasets: [
                              {
                                  data: [a,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17,a18,a19,a20,a21,a22,a23,a24,a25,a26,a27,a28,a29,a30,a31,a32,a33,a34,a35],
                                label: 'cases',
                                backgroundColor: "navy",
                              }, {
                                  data: [z,z1,z2,z3,z4,z5,z6,z7,z8,z9,z10,z11,z12,z13,z14,z15,z16,z17,z18,z19,z20,z21,z22,z23,z24,z25,z26,z27,z28,z29,z30,z31,z32,z33,z34,z35],
                                label: 'deaths',
                                backgroundColor: "red",
                              }
                                      , {
                                  data: [q,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12,q13,q14,q15,q16,q17,q18,q19,q20,q21,q22,q23,q24,q25,q26,q27,q28,q29,q30,q31,q32,q33,q34,q35],
                                label: 'recovered',
                                backgroundColor: "green",
                              }
                            ],
                          },
                          backgroundColor:'#cfcfcf',
                          options: {
                                scales: {
                              xAxes: [{ stacked: true }],
                              yAxes: [{ stacked: true }]
                            }
                      
                          }
                                
                        }
                        );</script>
        </body>
</html>
